Data_v4/ 

.git/
.gitignore
__pycache__/
*.pyc
*.pyo
.env*
venv/
*.log
Data
Data.zip

Data_v2
Data_v2.zip

Data_v3
Data_v3.zip

tt.ipynb

Data_test
Data_test.zip

Data_test2/
Data_test_v3/
Data_v4/
test.ipynb
.pypirc

.DS_Store
hfd.sh
bge-reranker-large/
*tar.gz
nohup.out

run_data.py
shap_suammry.json