footer { 
    display: none !important; 
}
mark {
    background-color: #10B981;
    color: #ffffff;
}
.chemical {
    background-color: #d1f5f4;
    color: #35A29F;
}
.disease {
    background-color: #ffc4d0;
    color: #FF3864;
}
.gene {
    background-color: #ffeec4;
    color: #b0871d;
}
.metabolite {
    background-color: #f8d1e7;
    color: #E457A6;
}
.pathway {
    background-color: #e0d6fc;
    color: #8A5CF6;
}
.processes {
    background-color: #d9f6f0;
    color: #2db692;
}
.protein {
    background-color: #c0e2fa;
    color: #1E88E5;
}
.region {
    background-color: #e8e0da;
    color: #9E7A65;
}
gradio-app {
    background: #ffffff;
}
ul li {
    list-style-type: none !important; /* 'disc' is the solid circle */

}

#logo-img-container {
    overflow: visible !important;
}
#logo-img-container img {
    max-height: none !important;
}

#toggle-button {
    background-color: #ffffff !important;
}
.loading-text::after {
    content: '...';
    animation: dotting 1.5s infinite step-end;
  }
.loaded-text {
    color: #bbbbbb;
}
@keyframes dotting {
    0% { content: '...'; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
  }

.message.pending[role="status"][aria-label="Loading response"] {
    background-color: #ffffff;
    width: 80%;
    align-items: left;
  }
#top-k input[type="number"] {
    margin-top: 8px !important;
}
#run-settings > button,
#entity-counter > button,
#highlight > button,
#announcement > button {
    justify-content: flex-start;
    text-align: left
}
#run-settings > button span.icon,
#entity-counter > button span.icon,
#highlight > button span.icon,
#announcement > button span.icon {
    margin-left: auto;
}

/* 按钮图标基础样式 */
#run-settings> button::before,
#entity-counter> button::before,
#highlight> button::before,
#announcement> button::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    margin-right: 20px;
}

/* 各个按钮的特定图标 */
#run-settings> button::before {
    background-image: url("/file=src/ui/static/set.png");
}

#entity-counter> button::before {
    background-image: url("/file=src/ui/static/sta.png");
}

#highlight> button::before {
    background-image: url("/file=src/ui/static/hig.png");
}

#announcement> button::before {
    background-image: url("/file=src/ui/static/ano.png");
}

#styled-btn,
#parameter-btn {
    min-width: 60px;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    display: block !important;
    margin: 0 auto !important;  /* 水平居中 */
    width: 100% !important;  /* 宽度为父容器的100% */;
    }
#parameter-btn:disabled {
    cursor: not-allowed !important;        /* 禁用鼠标点击 */
    opacity: 0.5;
    } 
#parameter-btn:not(:disabled) {
    cursor: pointer !important;        /* 启用鼠标点击 */
    opacity: 1;
    }
#send-btn {
    min-width: 60px;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px !important;  /* 顶部间距 */;
    height: 88px !important;
    }
#send-btn:disabled {
    cursor: not-allowed !important;        /* 禁用鼠标点击 */
    opacity: 0.5;
    background-color: #2563EB !important;   /* 启用时的颜色 */
    color: #ffffff!important;            /* 文字颜色 */
    }
#send-btn:not(:disabled) {
    background-color: #2563EB !important;   /* 启用时的颜色 */
    color: #ffffff!important;            /* 文字颜色 */
    cursor: pointer !important;        /* 启用鼠标点击 */
    opacity: 1;
}
#left-column{
    max-height: 95vh !important;  /* 容器最大高度为视窗高度的95% */
    /*border: 1px solid #e0e0e0;     可选边框 */
    flex-wrap: unset;
    overflow-y: scroll !important;
    position: sticky;
    column-gap: 2px !important;
    scrollbar-width: none;
}
#mid-column{
    max-height: 95vh !important;  /* 容器最大高度为视窗高度的95% */
    flex-wrap: unset;
    overflow-y: scroll !important;
    position: sticky;
    column-gap: 0px !important;
    scrollbar-width: none;
    gap:0px !important;
}
#right-column {
    max-height: 95vh !important;  /* 容器最大高度为视窗高度的95% */
    flex-wrap: unset;
    overflow-y: scroll !important;
    position: sticky;
    column-gap: 2px !important;
    scrollbar-width: none;
}
#new-conv-button {
    height: 10px;
}
.progress-text, .queue-info { display: none !important; }
/* 隐藏所有加载动画元素 */
.gradio-container .animate-spin,
.gradio-container .loading{
    display: none !important;
    opacity: 0 !important;
}
 
/* 禁用过渡和动画效果 
.gradio-container * {
    transition: none !important;
    animation: none !important;
}*/
#chat-tab,
#database-tab {
  border: none !important;
}